# Introduction

 In this assignment, we will delve into dimensionality reduction and unsupervised learning
 tasks. Firstly, we should preprocess the provided dataset to prepare it for analysis. Next, we
 will apply dimensionality reduction techniques to simplify the dataset's complexity. Then, we
 will use unsupervised learning algorithms to tackle the task. Finally, we evaluate and analyze
 the results for comparison.

## Dataset

 In 2014, some researchers published an article called "Impact of c1HbA Measurement on
 Hospital Readmission Rates: Analysis of 70,000 Clinical Database Patient Records." They
 gathered data on diabetic patients from many hospitals and clinics in America. Some of this
 data, about 200,000 items with 50 features, has been shared with the public in a way that
 keeps people's identities private

# Implementation

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import re

## 1.Preprocessing

Data Preprocessing or Data Preparation is a data mining technique that transforms raw data into an understandable format for ML algorithms. Real-world data is usually noisy (contains errors, outliers, duplicates), incomplete (some values are missed), and
 could be stored in different places and different formats. The task of Data Preprocessing is to handle these issues.  
The dataset contains both numerical and textual values, along with outliers and null values. These inconsistencies can disrupt clustering accuracy. Normalize the data extensively and provide detailed explanations for each normalization step in the report file.

### Load Data

In [2]:
ids_mapping = pd.read_csv('dataset_diabetes/IDs_mapping.csv')
ids_mapping = ids_mapping.rename(columns={'admission_type_id': 'id'})
ids_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           65 non-null     object
 1   description  62 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [3]:
def split_dataframe_on_empty_row(df):
    empty_row_indices = df.index[df.isnull().all(axis=1)].tolist() 
    _sections = []
    start_idx = 0
    for idx in empty_row_indices:
        _sections.append(df.iloc[start_idx:idx].reset_index(drop=True))
        start_idx = idx + 2
    _sections.append(df.iloc[start_idx:].reset_index(drop=True))
    return _sections

sections = split_dataframe_on_empty_row(ids_mapping)

sections = [section for section in sections if not section.empty]

admission_type_mapping = sections[0].rename(columns={'id': 'admission_type_id', 'description': 'admission_type_desc'})
discharge_disposition_mapping = sections[1].rename(columns={'id': 'discharge_disposition_id', 'description': 'discharge_disposition_desc'})
admission_source_mapping = sections[2].rename(columns={'id': 'admission_source_id', 'description': 'admission_source_desc'})

In [4]:
del ids_mapping

### Get basic information about each DataFrame

In [5]:
df = pd.read_csv('dataset_diabetes/diabetic_data.csv')

In [6]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [8]:
admission_type_mapping

  admission_type_id admission_type_desc
0                 1           Emergency
1                 2              Urgent
2                 3            Elective
3                 4             Newborn
4                 5       Not Available
5                 6                 NaN
6                 7       Trauma Center
7                 8          Not Mapped

In [9]:
discharge_disposition_mapping

   discharge_disposition_id                         discharge_disposition_desc
0                         1                                 Discharged to home
1                         2  Discharged/transferred to another short term h...
2                         3                      Discharged/transferred to SNF
3                         4                      Discharged/transferred to ICF
4                         5  Discharged/transferred to another type of inpa...
5                         6  Discharged/transferred to home with home healt...
6                         7                                           Left AMA
7                         8  Discharged/transferred to home under care of H...
8                         9          Admitted as an inpatient to this hospital
9                        10  Neonate discharged to another hospital for neo...
10                       11                                            Expired
11                       12  Still patient or expected to return for outpat...
12                       13                                     Hospice / home
13                       14                         Hospice / medical facility
14                       15  Discharged/transferred within this institution...
15                       16  Discharged/transferred/referred another instit...
16                       17  Discharged/transferred/referred to this instit...
17                       18                                                NaN
18                       19           Expired at home. Medicaid only, hospice.
19                       20  Expired in a medical facility. Medicaid only, ...
20                       21    Expired, place unknown. Medicaid only, hospice.
21                       22  Discharged/transferred to another rehab fac in...
22                       23  Discharged/transferred to a long term care hos...
23                       24  Discharged/transferred to a nursing facility c...
24                       25                                         Not Mapped
25                       26                                    Unknown/Invalid
26                       30  Discharged/transferred to another Type of Heal...
27                       27  Discharged/transferred to a federal health car...
28                       28  Discharged/transferred/referred to a psychiatr...
29                       29  Discharged/transferred to a Critical Access Ho...

In [10]:
admission_source_mapping

   admission_source_id                              admission_source_desc
0                    1                                 Physician Referral
1                    2                                    Clinic Referral
2                    3                                       HMO Referral
3                    4                           Transfer from a hospital
4                    5     Transfer from a Skilled Nursing Facility (SNF)
5                    6         Transfer from another health care facility
6                    7                                     Emergency Room
7                    8                              Court/Law Enforcement
8                    9                                      Not Available
9                   10              Transfer from critial access hospital
10                  11                                    Normal Delivery
11                  12                                 Premature Delivery
12                  13                                          Sick Baby
13                  14                                   Extramural Birth
14                  15                                      Not Available
15                  17                                                NaN
16                  18           Transfer From Another Home Health Agency
17                  19             Readmission to Same Home Health Agency
18                  20                                         Not Mapped
19                  21                                    Unknown/Invalid
20                  22   Transfer from hospital inpt/same fac reslt in...
21                  23                          Born inside this hospital
22                  24                         Born outside this hospital
23                  25            Transfer from Ambulatory Surgery Center
24                  26                              Transfer from Hospice

### Map the IDs to descriptions in diabetic_data

In [11]:
admission_type_mapping['admission_type_id'] = admission_type_mapping['admission_type_id'].astype('int64')
discharge_disposition_mapping['discharge_disposition_id'] = discharge_disposition_mapping['discharge_disposition_id'].astype('int64')
admission_source_mapping['admission_source_id'] = admission_source_mapping['admission_source_id'].astype('int64')

In [12]:
df = df.merge(admission_type_mapping, on='admission_type_id', how='left')
df = df.merge(discharge_disposition_mapping, on='discharge_disposition_id', how='left')
df = df.merge(admission_source_mapping, on='admission_source_id', how='left')

for col in ['admission_type', 'discharge_disposition', 'admission_source']:
    df = df.rename(columns={f'{col}_desc': col})
del col

In [13]:
df = df.drop(columns=["admission_type_id", "discharge_disposition_id", "admission_source_id"])

In [14]:
df.head(4)

,encounter_id,patient_nbr,race,gender,age,weight,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,admission_type,discharge_disposition,admission_source
0,2278392,8222157,Caucasian,Female,[0-10),?,1,?,Pediatrics-Endocrinology,41,...,No,No,No,No,No,No,NO,NaN,Not Mapped,Physician Referral
1,149190,55629189,Caucasian,Female,[10-20),?,3,?,?,59,...,No,No,No,No,Ch,Yes,>30,Emergency,Discharged to home,Emergency Room
2,64410,86047875,AfricanAmerican,Female,[20-30),?,2,?,?,11,...,No,No,No,No,No,Yes,NO,Emergency,Discharged to home,Emergency Room
3,500364,82442376,Caucasian,Male,[30-40),?,2,?,?,44,...,No,No,No,No,Ch,Yes,NO,Emergency,Discharged to home,Emergency Room

###  Convert to Numeric Type (Midpoint of Range) for Column "Age"

In [15]:
def extract_midpoint(value):
    value = value.strip('[]()')
    lower, upper = value.split('-')
    return (int(lower) + int(upper)) / 2

def process_range_columns(df):
    for _col in df.columns:
        if df[_col].dtype == 'object':
            mask = df[_col].str.match(r'^\[\d+-\d+\)$') & df[_col].notna()
            if mask.any():
                df.loc[mask, _col] = df.loc[mask, _col].apply(extract_midpoint)
                df[_col] = pd.to_numeric(df[_col], errors='coerce')
    return df

df= process_range_columns(df)

### Identify numerical/categorical columns

In [16]:
object_columns = df.select_dtypes(include=['object']).columns
for column in object_columns:
    try:
        df[column] = pd.to_numeric(df[column])
    except ValueError:
        continue

In [17]:
categorical_columns = []
categorical_columns.extend(df.select_dtypes(include=['object']).columns)
id_columns = [col for col in df.columns if col.endswith('id')]
categorical_columns.extend(id_columns)
categorical_columns.extend(['patient_nbr', 'payer_code'])
categorical_columns = list(set(categorical_columns))
categorical_columns

['rosiglitazone',
 'tolbutamide',
 'pioglitazone',
 'payer_code',
 'repaglinide',
 'A1Cresult',
 'glyburide-metformin',
 'diag_3',
 'gender',
 'metformin',
 'race',
 'max_glu_serum',
 'chlorpropamide',
 'nateglinide',
 'patient_nbr',
 'citoglipton',
 'medical_specialty',
 'acarbose',
 'metformin-pioglitazone',
 'change',
 'discharge_disposition',
 'miglitol',
 'admission_source',
 'glimepiride',
 'acetohexamide',
 'metformin-rosiglitazone',
 'diag_2',
 'admission_type',
 'glipizide',
 'tolazamide',
 'diabetesMed',
 'readmitted',
 'encounter_id',
 'examide',
 'troglitazone',
 'insulin',
 'diag_1',
 'glyburide',
 'glipizide-metformin',
 'glimepiride-pioglitazone']

In [18]:
numerical_columns = [col for col in df.columns if col not in categorical_columns]
numerical_columns

['age',
 'weight',
 'time_in_hospital',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'number_diagnoses']

### standardize text columns

In [19]:
text_columns = df.select_dtypes(include=['object']).columns
text_columns.values

array(['race', 'gender', 'payer_code', 'medical_specialty', 'diag_1',
       'diag_2', 'diag_3', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol',
       'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'admission_type', 'discharge_disposition', 'admission_source'],
      dtype=object)

In [20]:
for col in text_columns:
    df[col] = df[col].str.strip()  # Remove leading/trailing spaces

### Remove duplicates

In [21]:
df = df.drop_duplicates()

### Handling Missing and Invalid Values

In [22]:
def find_invalid_values(_df):
    placeholder_values = ["Unknown/Invalid", "NaN", "Not Available", "Not Mapped", "?"]
    
    placeholder_counts = {}
    
    for _col in _df.columns:
        placeholder_counts[_col] = {}
        for value in placeholder_values:
            placeholder_counts[_col][value] = _df[_col].astype(str).str.contains(re.escape(value), case=False, na=False).sum()
    _placeholder_counts_df = pd.DataFrame(placeholder_counts).transpose()
    _placeholder_counts_df = _placeholder_counts_df[(_placeholder_counts_df.T != 0).any()]
    total_rows = len(_df)
    _percentage_df = (_placeholder_counts_df / total_rows) * 100
    _percentage_df["sum"] = (_percentage_df["Unknown/Invalid"] 
                             + _percentage_df["NaN"] 
                             + _percentage_df["Not Available"] 
                             + _percentage_df["Not Mapped"] 
                             +  _percentage_df["?"])
    return _percentage_df

In [23]:
unknown = find_invalid_values(df)
unknown

,Unknown/Invalid,NaN,Not Available,Not Mapped,?,sum
race,0.000000,0.000000,0.000000,0.000000,2.233555,2.233555
gender,0.002948,0.000000,0.000000,0.000000,0.000000,0.002948
weight,0.000000,96.861427,0.000000,0.000000,0.000000,96.861427
payer_code,0.000000,0.000000,0.000000,0.000000,39.557416,39.557416
medical_specialty,0.000000,0.000000,0.000000,0.000000,49.082208,49.082208
diag_1,0.000000,0.000000,0.000000,0.000000,0.020636,0.020636
diag_2,0.000000,0.000000,0.000000,0.000000,0.351787,0.351787
diag_3,0.000000,0.000000,0.000000,0.000000,1.398306,1.398306
max_glu_serum,0.000000,94.746772,0.000000,0.000000,0.000000,94.746772
A1Cresult,0.000000,83.277322,0.000000,0.000000,0.000000,83.277322
admission_type,0.000000,5.199182,4.701963,0.314447,0.000000,10.215593
discharge_disposition,0.000000,3.626948,0.000000,0.971837,0.000000,4.598785
admission_source,0.000000,6.663326,0.122831,0.158206,0.000000,6.944363

In [24]:
columns_to_remove = unknown[unknown['sum']> 40].index
print("Columns with more than 40% unknown values:")
columns_to_remove

Columns with more than 40% unknown values:

Index(['weight', 'medical_specialty', 'max_glu_serum', 'A1Cresult'], dtype='object')

In [25]:
not_important = []
id_columns = [col for col in df.columns if col.endswith('id')]
not_important.extend(id_columns)
not_important.extend(['patient_nbr', 'payer_code'])

In [26]:
df = df.drop(columns=columns_to_remove)
df = df.drop(columns=not_important)

In [27]:
df.head()

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,admission_type,discharge_disposition,admission_source
0,Caucasian,Female,5.0,1,41,0,1,0,0,0,...,No,No,No,No,No,No,NO,NaN,Not Mapped,Physician Referral
1,Caucasian,Female,15.0,3,59,0,18,0,0,0,...,No,No,No,No,Ch,Yes,>30,Emergency,Discharged to home,Emergency Room
2,AfricanAmerican,Female,25.0,2,11,5,13,2,0,1,...,No,No,No,No,No,Yes,NO,Emergency,Discharged to home,Emergency Room
3,Caucasian,Male,35.0,2,44,1,16,0,0,0,...,No,No,No,No,Ch,Yes,NO,Emergency,Discharged to home,Emergency Room
4,Caucasian,Male,45.0,1,51,0,8,0,0,0,...,No,No,No,No,Ch,Yes,NO,Emergency,Discharged to home,Emergency Room

In [28]:
find_invalid_values(df)

,Unknown/Invalid,NaN,Not Available,Not Mapped,?,sum
race,0.000000,0.000000,0.000000,0.000000,2.233555,2.233555
gender,0.002948,0.000000,0.000000,0.000000,0.000000,0.002948
diag_1,0.000000,0.000000,0.000000,0.000000,0.020636,0.020636
diag_2,0.000000,0.000000,0.000000,0.000000,0.351787,0.351787
diag_3,0.000000,0.000000,0.000000,0.000000,1.398306,1.398306
admission_type,0.000000,5.199182,4.701963,0.314447,0.000000,10.215593
discharge_disposition,0.000000,3.626948,0.000000,0.971837,0.000000,4.598785
admission_source,0.000000,6.663326,0.122831,0.158206,0.000000,6.944363

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 43 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   race                      101766 non-null  object
 1   gender                    101766 non-null  object
 2   age                       101766 non-null  float64
 3   time_in_hospital          101766 non-null  int64
 4   num_lab_procedures        101766 non-null  int64
 5   num_procedures            101766 non-null  int64
 6   num_medications           101766 non-null  int64
 7   number_outpatient         101766 non-null  int64
 8   number_emergency          101766 non-null  int64
 9   number_inpatient          101766 non-null  int64
 10  diag_1                    101766 non-null  object
 11  diag_2                    101766 non-null  object
 12  diag_3                    101766 non-null  object
 13  number_diagnoses          101766 non-null  int64
 14  metformin                 101766 non-null  object
 15  repaglinide               101766 non-null  object
 16  nateglinide               101766 non-null  object
 17  chlorpropamide            101766 non-null  object
 18  glimepiride               101766 non-null  object
 19  acetohexamide             101766 non-null  object
 20  glipizide                 101766 non-null  object
 21  glyburide                 101766 non-null  object
 22  tolbutamide               101766 non-null  object
 23  pioglitazone              101766 non-null  object
 24  rosiglitazone             101766 non-null  object
 25  acarbose                  101766 non-null  object
 26  miglitol                  101766 non-null  object
 27  troglitazone              101766 non-null  object
 28  tolazamide                101766 non-null  object
 29  examide                   101766 non-null  object
 30  citoglipton               101766 non-null  object
 31  insulin                   101766 non-null  object
 32  glyburide-metformin       101766 non-null  object
 33  glipizide-metformin       101766 non-null  object
 34  glimepiride-pioglitazone  101766 non-null  object
 35  metformin-rosiglitazone   101766 non-null  object
 36  metformin-pioglitazone    101766 non-null  object
 37  change                    101766 non-null  object
 38  diabetesMed               101766 non-null  object
 39  readmitted                101766 non-null  object
 40  admission_type            96475 non-null   object
 41  discharge_disposition     98075 non-null   object
 42  admission_source          94985 non-null   object
dtypes: float64(1), int64(8), object(34)
memory usage: 33.4+ MB

In [30]:
invalid_entries = ["Unknown/Invalid", "NaN", "Not Available", "Not Mapped", "?"]

def replace_invalid_with_mode(_df):
    for _col in _df.columns:
        for invalid in invalid_entries:
            replace_invalid_with_nan = lambda x: np.nan if isinstance(x, str) and invalid in x else x
            _df[_col] = _df[_col].apply(replace_invalid_with_nan)
        
        mode = _df[_col].mode().dropna()
        if not mode.empty and mode[0] in invalid_entries:
            _df = _df.drop(columns=_col)
            print(f"Column {_col} dropped.")
        else:
            _df[_col] = _df[_col].fillna(mode[0])
    
    return _df
    
df = replace_invalid_with_mode(df)

In [31]:
find_invalid_values(df)

Empty DataFrame
Columns: [Unknown/Invalid, NaN, Not Available, Not Mapped, ?, sum]
Index: []

In [32]:
df.info() ## no null cell

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 43 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   race                      101766 non-null  object
 1   gender                    101766 non-null  object
 2   age                       101766 non-null  float64
 3   time_in_hospital          101766 non-null  int64
 4   num_lab_procedures        101766 non-null  int64
 5   num_procedures            101766 non-null  int64
 6   num_medications           101766 non-null  int64
 7   number_outpatient         101766 non-null  int64
 8   number_emergency          101766 non-null  int64
 9   number_inpatient          101766 non-null  int64
 10  diag_1                    101766 non-null  object
 11  diag_2                    101766 non-null  object
 12  diag_3                    101766 non-null  object
 13  number_diagnoses          101766 non-null  int64
 14  metformin                 101766 non-null  object
 15  repaglinide               101766 non-null  object
 16  nateglinide               101766 non-null  object
 17  chlorpropamide            101766 non-null  object
 18  glimepiride               101766 non-null  object
 19  acetohexamide             101766 non-null  object
 20  glipizide                 101766 non-null  object
 21  glyburide                 101766 non-null  object
 22  tolbutamide               101766 non-null  object
 23  pioglitazone              101766 non-null  object
 24  rosiglitazone             101766 non-null  object
 25  acarbose                  101766 non-null  object
 26  miglitol                  101766 non-null  object
 27  troglitazone              101766 non-null  object
 28  tolazamide                101766 non-null  object
 29  examide                   101766 non-null  object
 30  citoglipton               101766 non-null  object
 31  insulin                   101766 non-null  object
 32  glyburide-metformin       101766 non-null  object
 33  glipizide-metformin       101766 non-null  object
 34  glimepiride-pioglitazone  101766 non-null  object
 35  metformin-rosiglitazone   101766 non-null  object
 36  metformin-pioglitazone    101766 non-null  object
 37  change                    101766 non-null  object
 38  diabetesMed               101766 non-null  object
 39  readmitted                101766 non-null  object
 40  admission_type            101766 non-null  object
 41  discharge_disposition     101766 non-null  object
 42  admission_source          101766 non-null  object
dtypes: float64(1), int64(8), object(34)
memory usage: 33.4+ MB

### Encode Categorical Variables:

In [33]:
categorical_columns = np.intersect1d(categorical_columns, df.columns)
categorical_columns

array(['acarbose', 'acetohexamide', 'admission_source', 'admission_type',
       'change', 'chlorpropamide', 'citoglipton', 'diabetesMed', 'diag_1',
       'diag_2', 'diag_3', 'discharge_disposition', 'examide', 'gender',
       'glimepiride', 'glimepiride-pioglitazone', 'glipizide',
       'glipizide-metformin', 'glyburide', 'glyburide-metformin',
       'insulin', 'metformin', 'metformin-pioglitazone',
       'metformin-rosiglitazone', 'miglitol', 'nateglinide',
       'pioglitazone', 'race', 'readmitted', 'repaglinide',
       'rosiglitazone', 'tolazamide', 'tolbutamide', 'troglitazone'],
      dtype=object)

In [34]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=True)
one_hotted_columns_model = encoder.fit_transform(df[categorical_columns])
encoded_categorical_df = pd.DataFrame.sparse.from_spmatrix(one_hotted_columns_model, columns=encoder.get_feature_names_out(categorical_columns))

df = df.drop(categorical_columns, axis=1)

df = pd.concat([df, encoded_categorical_df], axis=1)
del encoded_categorical_df

In [35]:
len(df.columns)

2390

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Columns: 2390 entries, age to troglitazone_Steady
dtypes: Sparse[float64, 0](2381), float64(1), int64(8)
memory usage: 46.6 MB

##  2. Dimensionality Reduction

Some data mining algorithms, like K-Means, struggle with accurately clustering data when confronted with numerous features, leading to high dimensionality. This issue isn't exclusive to datasets with hundreds or thousands of features; even just ten features can pose accuracy challenges.  
Feature or dimensionality reduction aims to address this by transforming the original feature set into a smaller set of derived features that retain most of the original information.  
Principal Component Analysis (PCA) is a widely used technique for feature reduction. It condenses the original dataset into a set number of features known as principal components. The desired number of principal components must be specified.  
In this section, utilize PCA to reduce the dimensionality of the dataset. This approach is recommended if there are numerous variables, manual variable selection is impractical, or segmentation results are unsatisfactory.

In [37]:
from sklearn.decomposition import PCA

pca = PCA(n_components=0.95)  # Retain 95% of the variance
pca_data = pca.fit_transform(df.values)

pca_columns = [f'PC{i+1}' for i in range(pca_data.shape[1])]
df = pd.DataFrame(data=pca_data, columns=pca_columns)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PC1     101766 non-null  float64
 1   PC2     101766 non-null  float64
 2   PC3     101766 non-null  float64
dtypes: float64(3)
memory usage: 2.3 MB

##  3. Unsupervised Learning

Utilizing the **silhouette method**, determine the optimal `number of clusters` for the **K-means** method and the optimal input parameters `(minPnt, eps)` for the **DBSCAN** method.  
Based on the obtained values, store the best result from each method in a CSV file containing only the columns: `id_encounter`, `kmean_label`, and `dbscan_label`.

###  Silhouette Method
The Silhouette Method is a method to find the optimal number of clusters and interpretation and validation of consistency within clusters of data. The silhouette method computes silhouette coefficients of each point that measure how much a point is similar to its cluster compared to other clusters. by providing a succinct graphical representation of how well each object has been classified

In [46]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.model_selection import GridSearchCV

param_grid = {'n_clusters': range(2, 11)}
grid_search = GridSearchCV(KMeans(n_init=10, random_state=42), 
                           param_grid, 
                           scoring=lambda estimator, x: silhouette_score(x, estimator.predict(x)), 
                           cv=5)
grid_search.fit(df)

optimal_K = grid_search.best_params_['n_clusters']
print(f'Optimal number of clusters for K-means: {optimal_K}')

Optimal number of clusters for K-means: 3

In [47]:
grid_search.cv_results_

{'mean_fit_time': array([1.1826932 , 1.20144877, 1.37371597, 1.35641189, 1.25564041,
        1.70148926, 1.9606895 , 1.81310325, 2.00421696]),
 'std_fit_time': array([0.02245855, 0.12392639, 0.17210107, 0.11612628, 0.36445089,
        0.06411593, 0.19963878, 0.10177988, 0.05298438]),
 'mean_score_time': array([4.3963346 , 4.28016925, 4.56815157, 4.11070619, 4.15859132,
        4.41969943, 4.45226407, 4.39855895, 4.37363315]),
 'std_score_time': array([0.1227666 , 0.23681942, 0.25170815, 0.07397124, 0.09359836,
        0.11473325, 0.1564631 , 0.13992394, 0.1462597 ]),
 'param_n_clusters': masked_array(data=[2, 3, 4, 5, 6, 7, 8, 9, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'n_clusters': 2},
  {'n_clusters': 3},
  {'n_clusters': 4},
  {'n_clusters': 5},
  {'n_clusters': 6},
  {'n_clusters': 7},
  {'n_clusters': 8},
  {'n_clusters': 9},
  {'n_clusters': 10}],
 'split0_test_score': array([0.29404844, 0.30760645, 0.27446028, 0.25233353, 0.2632694 ,
        0.25846006, 0.24692392, 0.22943947, 0.25137353]),
 'split1_test_score': array([0.2932339 , 0.31786439, 0.30082893, 0.27711133, 0.27116247,
        0.2814306 , 0.26892307, 0.26699843, 0.27625357]),
 'split2_test_score': array([0.29114387, 0.31050715, 0.31463831, 0.3016051 , 0.2832762 ,
        0.28635176, 0.28364186, 0.27862886, 0.28425848]),
 'split3_test_score': array([0.31505853, 0.32269251, 0.30179664, 0.29483568, 0.28014727,
        0.2831978 , 0.2811394 , 0.2818428 , 0.2728886 ]),
 'split4_test_score': array([0.34568748, 0.32976837, 0.30356863, 0.29746354, 0.28850833,
        0.28386   , 0.28794973, 0.27781472, 0.27815127]),
 'mean_test_score': array([0.30783444, 0.31768777, 0.29905856, 0.28466983, 0.27727273,
        0.27866004, 0.2737156 , 0.26694485, 0.27258509]),
 'std_test_score': array([0.02081752, 0.0080525 , 0.01325727, 0.01820216, 0.00898857,
        0.01022261, 0.01481227, 0.0194076 , 0.01123148]),
 'rank_test_score': array([2, 1, 3, 4, 6, 5, 7, 9, 8], dtype=int32)}

In [36]:
# eps_range = np.arange(0.1, 1.1, 0.1)  # Test eps from 0.1 to 1.0
# min_samples_range = range(2, 11)  # Test min_samples from 2 to 10

# best_silhouette = -1
# best_eps = None
# best_min_samples = None

# for eps in eps_range:
#     for min_samples in min_samples_range:
#         dbscan = DBSCAN(eps=eps, min_samples=min_samples)
#         labels = dbscan.fit_predict(pca_data)
#         if len(set(labels)) > 1:  # Ensure more than one cluster is formed
#             silhouette_avg = silhouette_score(pca_data, labels)
#             if silhouette_avg > best_silhouette:
#                 best_silhouette = silhouette_avg
#                 best_eps = eps
#                 best_min_samples = min_samples

# print(f'Optimal eps for DBSCAN: {best_eps}')
# print(f'Optimal min_samples for DBSCAN: {best_min_samples}')

### K-Means
K-Means Clustering is a type of Unsupervised Machine Learning algorithm that organizes an unlabeled dataset into distinct clusters. This method assigns data points to one of the K clusters based on their proximity to the cluster centers. Initially, cluster centroids are randomly placed in space. Then, each data point is assigned to the nearest cluster centroid. Subsequently, new cluster centroids are calculated. This iterative process continues until it converges on well-defined clusters.

In [37]:
kmeans = KMeans(n_clusters=2, random_state=42) #change to -> kmeans = KMeans(n_clusters=optimal_K, random_state=42)
kmean_labels = kmeans.fit_predict(pca_data)
kmean_labels

NameError: name 'pca_data' is not defined

### DBSCAN
DBSCAN is an unsupervised clustering algorithm, offering an alternative to KMeans and hierarchical clustering. It relies on two key parameters: Epsilon (ɛ), defining the neighborhood radius, and Minimum Points (minPts), specifying the minimum number of points to form a cluster. Epsilon determines the similarity threshold between points, influencing cluster size, while minPts affects cluster robustness and noise handling.  
Balancing these parameters is crucial for effective clustering without splitting valid clusters or aggregating unrelated points

In [ ]:
dbscan = DBSCAN(eps=0.5, min_samples=2) #change to -> dbscan = DBSCAN(eps=best_eps, min_samples=best_min_samples)

dbscan_labels = dbscan.fit_predict(pca_data)
dbscan_labels

### Prepare final DataFrame with results

In [ ]:
# results_df = diabetic_data_cleaned[['id_encounter']].copy()
# results_df['kmean_label'] = kmean_labels
# results_df['dbscan_label'] = dbscan_labels

# Questions

#### 1. What preprocessing steps did you perform on the dataset? Provide clear reasons for each decision made.

#### 2. What portion of the dataset did you retain during dimensionality reduction, and which variables were retained? Could you elaborate on the rationale behind this decision?

#### 3. Include a plot illustrating the silhouette coefficient plotted against the input parameters for each clustering method within the report file.

#### 4. How can we determine the optimal number of clusters in K-Means?

#### 5. How can we determine the optimal epsilon value and minPts in DBSCAN?

#### 6. When would you recommend using K-Means, and when would you suggest using DBSCAN instead